In [1]:
import pandas as pd

In [2]:
df =pd.read_csv(r'C:\Users\chand\OneDrive\Desktop\Data science\data-science-ai-and-ml\projects\credit\Credit (1).csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4519 non-null   float64
 1   job        4515 non-null   object
 2   marital    4518 non-null   object
 3   education  4517 non-null   object
 4   balance    4521 non-null   int64
 5   housing    4518 non-null   object
 6   duration   4519 non-null   float64
 7   campaign   4521 non-null   int64
 8   approval   4521 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 318.0+ KB

In [4]:
df.head(10)

,age,job,marital,education,balance,housing,duration,campaign,approval
0,30.0,unemployed,married,primary,1787,no,79.0,1,no
1,33.0,services,married,secondary,4789,yes,220.0,1,no
2,35.0,management,single,tertiary,1350,yes,185.0,1,no
3,30.0,management,married,tertiary,1476,yes,199.0,4,no
4,59.0,blue-collar,married,secondary,0,yes,226.0,1,no
5,35.0,management,single,tertiary,747,no,141.0,2,no
6,36.0,self-employed,married,tertiary,307,yes,341.0,1,no
7,39.0,technician,married,secondary,147,yes,151.0,2,no
8,41.0,entrepreneur,married,tertiary,221,yes,57.0,2,no
9,43.0,services,married,primary,-88,yes,313.0,1,no

In [5]:
df.tail(10)

,age,job,marital,education,balance,housing,duration,campaign,approval
4511,46.0,blue-collar,married,secondary,668,yes,1263.0,2,yes
4512,40.0,blue-collar,married,secondary,1100,yes,660.0,2,no
4513,49.0,blue-collar,married,secondary,322,no,356.0,2,no
4514,38.0,blue-collar,married,secondary,1205,yes,45.0,4,no
4515,32.0,services,single,secondary,473,yes,624.0,5,no
4516,99.0,services,married,secondary,-333,yes,329.0,5,no
4517,57.0,self-employed,married,tertiary,-3313,yes,-153.0,1,no
4518,57.0,technician,married,secondary,295,no,151.0,11,no
4519,28.0,blue-collar,married,secondary,1137,no,129.0,4,no
4520,44.0,entrepreneur,single,tertiary,1136,yes,345.0,2,no

In [6]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4516    False
4517    False
4518    False
4519    False
4520    False
Length: 4521, dtype: bool

In [7]:
df.duplicated().sum()

np.int64(1)

In [8]:
df.describe()

               age       balance      duration     campaign
count  4519.000000   4521.000000  4.519000e+03  4521.000000
mean     41.381279   1422.657819  5.983921e+03     2.793630
std      13.966475   3009.638142  3.570683e+05     3.109807
min     -38.000000  -3313.000000 -7.990000e+02     1.000000
25%      33.000000     69.000000  1.040000e+02     1.000000
50%      39.000000    444.000000  1.850000e+02     2.000000
75%      49.000000   1480.000000  3.295000e+02     3.000000
max     416.000000  71188.000000  2.395650e+07    50.000000

In [9]:
df

,age,job,marital,education,balance,housing,duration,campaign,approval
0,30.0,unemployed,married,primary,1787,no,79.0,1,no
1,33.0,services,married,secondary,4789,yes,220.0,1,no
2,35.0,management,single,tertiary,1350,yes,185.0,1,no
3,30.0,management,married,tertiary,1476,yes,199.0,4,no
4,59.0,blue-collar,married,secondary,0,yes,226.0,1,no
...,...,...,...,...,...,...,...,...,...
4516,99.0,services,married,secondary,-333,yes,329.0,5,no
4517,57.0,self-employed,married,tertiary,-3313,yes,-153.0,1,no
4518,57.0,technician,married,secondary,295,no,151.0,11,no
4519,28.0,blue-collar,married,secondary,1137,no,129.0,4,no
4520,44.0,entrepreneur,single,tertiary,1136,yes,345.0,2,no

In [10]:
df['age']

0       30.0
1       33.0
2       35.0
3       30.0
4       59.0
        ...
4516    99.0
4517    57.0
4518    57.0
4519    28.0
4520    44.0
Name: age, Length: 4521, dtype: float64

In [11]:
df['balance']

0       1787
1       4789
2       1350
3       1476
4          0
        ...
4516    -333
4517   -3313
4518     295
4519    1137
4520    1136
Name: balance, Length: 4521, dtype: int64

In [12]:
df.columns

Index(['age', 'job', 'marital', 'education', 'balance', 'housing', 'duration',
       'campaign', 'approval'],
      dtype='object')

In [13]:
df.education

0         primary
1       secondary
2        tertiary
3        tertiary
4       secondary
          ...
4516    secondary
4517     tertiary
4518    secondary
4519    secondary
4520     tertiary
Name: education, Length: 4521, dtype: object

In [14]:
df.housing

0        no
1       yes
2       yes
3       yes
4       yes
       ...
4516    yes
4517    yes
4518     no
4519     no
4520    yes
Name: housing, Length: 4521, dtype: object

In [15]:
df['age'].value_counts()

age
34.0     231
32.0     224
31.0     199
36.0     188
33.0     184
        ...
13.0       1
84.0       1
416.0      1
410.0      1
99.0       1
Name: count, Length: 74, dtype: int64

In [16]:
df['balance'].value_counts()

balance
0       357
2        24
1        15
4        13
23       11
       ...
5304      1
6969      1
572       1
164       1
4554      1
Name: count, Length: 2353, dtype: int64

In [17]:
df['age'].unique()

array([ 30.,  33.,  35.,  59.,  36.,  39.,  41.,  43.,  20.,  31.,  40.,
        56.,  37.,  25.,  38.,  42.,  44.,  26.,  55.,  67.,  53.,  68.,
        32.,  49.,  78.,   0.,  23.,  52.,  34.,  nan,  45.,  48.,  57.,
        54.,  63.,  51.,  29.,  50.,  27.,  60.,  28.,  21.,  58.,  22.,
        46.,  24.,  77.,  75.,  47.,  70.,  65.,  64.,  62.,  66.,  61.,
        19.,  81.,  83.,  80.,  71.,  72.,  69.,  79.,  73., -38.,  86.,
        74., 338.,  76.,  87.,  13.,  84., 416., 410.,  99.])

In [18]:
df['age'].nunique()

74

In [19]:
df.shape

(4521, 9)

In [20]:
df.dtypes

age          float64
job           object
marital       object
education     object
balance        int64
housing       object
duration     float64
campaign       int64
approval      object
dtype: object

In [21]:
marital_df =df[df['balance'] == 'marital']

In [22]:
marital_df =df[df['education'] == 'secondary']

In [23]:
marital_df

,age,job,marital,education,balance,housing,duration,campaign,approval
1,33.0,services,married,secondary,4789,yes,220.0,1,no
4,59.0,blue-collar,married,secondary,0,yes,226.0,1,no
7,39.0,technician,married,secondary,147,yes,151.0,2,no
10,39.0,services,married,secondary,9374,yes,273.0,1,no
11,43.0,admin.,married,secondary,264,yes,113.0,2,no
...,...,...,...,...,...,...,...,...,...
4514,38.0,blue-collar,married,secondary,1205,yes,45.0,4,no
4515,32.0,services,single,secondary,473,yes,624.0,5,no
4516,99.0,services,married,secondary,-333,yes,329.0,5,no
4518,57.0,technician,married,secondary,295,no,151.0,11,no
4519,28.0,blue-collar,married,secondary,1137,no,129.0,4,no

In [24]:
marital_df[marital_df['age'] <= 18]

,age,job,marital,education,balance,housing,duration,campaign,approval
38,0.0,management,married,secondary,3935,yes,765.0,1,yes
3809,13.0,blue-collar,married,secondary,161,yes,274.0,2,no

In [25]:
marital_df =df[(df['marital']== 'married')&
                 (df['age'] <= 18)&
                 (df['education'] == 'secondary' )]

In [26]:
marital_df

,age,job,marital,education,balance,housing,duration,campaign,approval
38,0.0,management,married,secondary,3935,yes,765.0,1,yes
3809,13.0,blue-collar,married,secondary,161,yes,274.0,2,no

In [27]:
df.rename(columns= {'age': 'a'},inplace= True)

In [28]:
df

,a,job,marital,education,balance,housing,duration,campaign,approval
0,30.0,unemployed,married,primary,1787,no,79.0,1,no
1,33.0,services,married,secondary,4789,yes,220.0,1,no
2,35.0,management,single,tertiary,1350,yes,185.0,1,no
3,30.0,management,married,tertiary,1476,yes,199.0,4,no
4,59.0,blue-collar,married,secondary,0,yes,226.0,1,no
...,...,...,...,...,...,...,...,...,...
4516,99.0,services,married,secondary,-333,yes,329.0,5,no
4517,57.0,self-employed,married,tertiary,-3313,yes,-153.0,1,no
4518,57.0,technician,married,secondary,295,no,151.0,11,no
4519,28.0,blue-collar,married,secondary,1137,no,129.0,4,no
4520,44.0,entrepreneur,single,tertiary,1136,yes,345.0,2,no

In [29]:
df.select_dtypes(include='object')

                job  marital  education housing approval
0        unemployed  married    primary      no       no
1          services  married  secondary     yes       no
2        management   single   tertiary     yes       no
3        management  married   tertiary     yes       no
4       blue-collar  married  secondary     yes       no
...             ...      ...        ...     ...      ...
4516       services  married  secondary     yes       no
4517  self-employed  married   tertiary     yes       no
4518     technician  married  secondary      no       no
4519    blue-collar  married  secondary      no       no
4520   entrepreneur   single   tertiary     yes       no

[4521 rows x 5 columns]

In [30]:
num=df.select_dtypes(exclude='object')

In [31]:
num

         a  balance  duration  campaign
0     30.0     1787      79.0         1
1     33.0     4789     220.0         1
2     35.0     1350     185.0         1
3     30.0     1476     199.0         4
4     59.0        0     226.0         1
...    ...      ...       ...       ...
4516  99.0     -333     329.0         5
4517  57.0    -3313    -153.0         1
4518  57.0      295     151.0        11
4519  28.0     1137     129.0         4
4520  44.0     1136     345.0         2

[4521 rows x 4 columns]

In [32]:
print(num.columns)

Index(['a', 'balance', 'duration', 'campaign'], dtype='object')

In [33]:
num.head()

      a  balance  duration  campaign
0  30.0     1787      79.0         1
1  33.0     4789     220.0         1
2  35.0     1350     185.0         1
3  30.0     1476     199.0         4
4  59.0        0     226.0         1

In [34]:
num['a'].unique()

array([ 30.,  33.,  35.,  59.,  36.,  39.,  41.,  43.,  20.,  31.,  40.,
        56.,  37.,  25.,  38.,  42.,  44.,  26.,  55.,  67.,  53.,  68.,
        32.,  49.,  78.,   0.,  23.,  52.,  34.,  nan,  45.,  48.,  57.,
        54.,  63.,  51.,  29.,  50.,  27.,  60.,  28.,  21.,  58.,  22.,
        46.,  24.,  77.,  75.,  47.,  70.,  65.,  64.,  62.,  66.,  61.,
        19.,  81.,  83.,  80.,  71.,  72.,  69.,  79.,  73., -38.,  86.,
        74., 338.,  76.,  87.,  13.,  84., 416., 410.,  99.])

In [35]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()

df['job'] =le.fit_transform(df['job'])
df['balance'] =le.fit_transform(df['balance'])
df['housing'] =le.fit_transform(df['housing'])

In [36]:
num

         a  balance  duration  campaign
0     30.0     1787      79.0         1
1     33.0     4789     220.0         1
2     35.0     1350     185.0         1
3     30.0     1476     199.0         4
4     59.0        0     226.0         1
...    ...      ...       ...       ...
4516  99.0     -333     329.0         5
4517  57.0    -3313    -153.0         1
4518  57.0      295     151.0        11
4519  28.0     1137     129.0         4
4520  44.0     1136     345.0         2

[4521 rows x 4 columns]

In [37]:
df

,a,job,marital,education,balance,housing,duration,campaign,approval
0,30.0,10,married,primary,1475,0,79.0,1,no
1,33.0,7,married,secondary,2030,1,220.0,1,no
2,35.0,4,single,tertiary,1303,1,185.0,1,no
3,30.0,4,married,tertiary,1352,1,199.0,4,no
4,59.0,1,married,secondary,274,1,226.0,1,no
...,...,...,...,...,...,...,...,...,...
4516,99.0,7,married,secondary,119,1,329.0,5,no
4517,57.0,6,married,tertiary,0,1,-153.0,1,no
4518,57.0,9,married,secondary,558,0,151.0,11,no
4519,28.0,1,married,secondary,1187,0,129.0,4,no
4520,44.0,2,single,tertiary,1186,1,345.0,2,no

In [38]:
char=df.select_dtypes(exclude='object')

In [39]:
char

         a  job  balance  housing  duration  campaign
0     30.0   10     1475        0      79.0         1
1     33.0    7     2030        1     220.0         1
2     35.0    4     1303        1     185.0         1
3     30.0    4     1352        1     199.0         4
4     59.0    1      274        1     226.0         1
...    ...  ...      ...      ...       ...       ...
4516  99.0    7      119        1     329.0         5
4517  57.0    6        0        1    -153.0         1
4518  57.0    9      558        0     151.0        11
4519  28.0    1     1187        0     129.0         4
4520  44.0    2     1186        1     345.0         2

[4521 rows x 6 columns]

In [40]:
clean_data =pd.concat([char],axis =1)

In [41]:
clean_data.to_csv('cr.csv',index= False)

In [42]:
clean_data.dropna(inplace=True)

In [43]:
x =clean_data.drop('balance',axis=1)
y =clean_data[['balance']]

In [44]:
x

         a  job  housing  duration  campaign
0     30.0   10        0      79.0         1
1     33.0    7        1     220.0         1
2     35.0    4        1     185.0         1
3     30.0    4        1     199.0         4
4     59.0    1        1     226.0         1
...    ...  ...      ...       ...       ...
4516  99.0    7        1     329.0         5
4517  57.0    6        1    -153.0         1
4518  57.0    9        0     151.0        11
4519  28.0    1        0     129.0         4
4520  44.0    2        1     345.0         2

[4517 rows x 5 columns]

In [45]:
y

      balance
0        1475
1        2030
2        1303
3        1352
4         274
...       ...
4516      119
4517        0
4518      558
4519     1187
4520     1186

[4517 rows x 1 columns]

In [46]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [47]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((3613, 5), (904, 5), (3613, 1), (904, 1))

In [48]:

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [49]:
lr.score(x_train, y_train)

0.007617109614654449

In [50]:
lr.score(x_test, y_test)

0.007940831478222776

In [51]:
pred = lr.predict(x_test)

In [52]:
pred

array([[ 899.3902161 ],
       [ 849.99710681],
       [ 886.72657879],
       [ 732.16060902],
       [ 886.8114963 ],
       [ 908.65117559],
       [ 948.50264186],
       [ 849.99194699],
       [ 880.09572191],
       [ 852.86414093],
       [ 868.32437717],
       [ 839.0378067 ],
       [ 901.97269377],
       [ 886.83678453],
       [ 924.19137764],
       [1040.75888401],
       [ 939.4052444 ],
       [ 874.65637747],
       [ 889.92868197],
       [ 849.98838104],
       [ 896.41030178],
       [ 862.08570807],
       [ 911.8633595 ],
       [ 926.63435396],
       [ 865.38792509],
       [ 862.29184036],
       [ 933.44951039],
       [ 883.76952695],
       [ 899.45029435],
       [ 939.43420663],
       [ 924.15419312],
       [ 873.83067189],
       [ 874.46487239],
       [ 924.00372827],
       [ 890.20308269],
       [ 893.0973501 ],
       [ 917.91688967],
       [ 849.99548592],
       [ 927.05137812],
       [ 871.4705666 ],
       [ 865.43349642],
       [ 856.13781815],
       [ 819.33914495],
       [ 908.76861569],
       [ 933.19279694],
       [ 845.52710851],
       [ 896.29358127],
       [ 849.52054229],
       [ 847.94906992],
       [ 859.22431264],
       [ 905.32011662],
       [ 865.40193836],
       [ 939.47469676],
       [ 859.91505115],
       [ 927.23912076],
       [ 899.48883432],
       [ 859.19878129],
       [ 848.90065221],
       [ 892.90815847],
       [ 884.85962439],
       [ 877.40088472],
       [ 846.86985203],
       [ 874.43695393],
       [ 927.27827736],
       [ 833.6550235 ],
       [ 873.46478907],
       [ 849.52659359],
       [ 976.70792282],
       [ 967.00930731],
       [ 855.96732314],
       [ 874.47783947],
       [ 840.45255649],
       [ 899.29710331],
       [ 838.8152028 ],
       [ 948.68642073],
       [ 871.07458452],
       [ 871.58652648],
       [ 868.4724205 ],
       [ 936.28193887],
       [ 871.60003627],
       [ 905.25270225],
       [ 865.22919132],
       [ 880.54275689],
       [ 898.83125154],
       [ 893.26067638],
       [ 945.61656974],
       [ 936.3860681 ],
       [ 871.41761044],
       [ 936.49168133],
       [ 979.4096856 ],
       [ 830.77535387],
       [ 880.64348784],
       [ 939.58144461],
       [ 923.96994519],
       [ 982.68490266],
       [ 982.90952285],
       [ 908.53416953],
       [ 852.59966175],
       [ 865.44276248],
       [ 840.7236567 ],
       [ 862.40601169],
       [ 930.18125332],
       [ 936.53189622],
       [ 827.27342909],
       [ 899.45069957],
       [ 964.12766318],
       [ 886.11291192],
       [ 837.36028084],
       [ 942.70557778],
       [ 945.74086978],
       [ 846.4049431 ],
       [ 951.77033901],
       [ 913.25019704],
       [ 877.75711855],
       [ 834.13345204],
       [ 939.57262799],
       [ 887.0260572 ],
       [ 849.54696513],
       [ 908.36464706],
       [ 973.68483919],
       [ 890.22680406],
       [ 920.93804495],
       [ 979.81349214],
       [ 862.31156355],
       [ 890.1136765 ],
       [ 899.16986424],
       [ 902.4739723 ],
       [ 856.15670387],
       [ 896.22156941],
       [ 896.29710299],
       [ 886.59961968],
       [ 951.83650538],
       [ 846.62309695],
       [ 887.08609352],
       [ 927.19702223],
       [ 865.39787633],
       [ 899.44428726],
       [ 911.65788537],
       [ 890.11146129],
       [ 948.91553518],
       [ 855.75291453],
       [ 879.84996905],
       [ 874.67726229],
       [ 896.16757929],
       [ 899.42336294],
       [ 902.47564721],
       [ 970.4960498 ],
       [ 855.15023017],
       [ 939.62449847],
       [ 900.26775174],
       [ 827.38435622],
       [ 964.1619031 ],
       [ 840.51634557],
       [ 923.1747785 ],
       [ 877.84786567],
       [ 830.78921485],
       [ 926.27622196],
       [ 874.69677407],
       [ 954.48259332],
       [ 908.08079117],
       [ 905.48030387],
       [ 948.91496787],
       [ 877.5329306 ],
       [ 893.11679332],
       [ 902.58224459],
       [ 880.83771402],
       [ 867.94492544],
       [ 837.62515784],
       [ 930.28370583],
       [ 859.20529184],
       [ 876.72149861],
       [ 871.35356613],
       [ 924.16722913],
       [ 862.29981213],
       [ 927.25747868],
       [ 874.38688786],
       [ 886.19993658],
       [ 874.49488819],
       [ 865.17937129],
       [ 908.6475458 ],
       [ 936.51135049],
       [ 979.16734131],
       [ 933.39945971],
       [ 833.473757  ],
       [ 927.19440421],
       [ 914.27989094],
       [ 865.20584816],
       [ 904.195306  ],
       [ 814.96934601],
       [ 868.05435755],
       [ 905.60434829],
       [ 852.64633827],
       [ 902.34726794],
       [ 836.54579619],
       [ 914.48253361],
       [ 838.90267133],
       [ 924.09347162],
       [ 892.98606935],
       [ 870.5619924 ],
       [ 905.62407887],
       [ 890.23280133],
       [ 967.01238457],
       [ 889.570368  ],
       [ 874.65193724],
       [ 902.59109804],
       [ 908.77281279],
       [ 804.19541864],
       [ 871.68273058],
       [ 883.82633132],
       [ 933.42050662],
       [ 998.35696149],
       [ 855.97223983],
       [ 899.22130248],
       [ 896.29025845],
       [ 895.87847516],
       [ 852.88117984],
       [ 789.18094769],
       [ 908.66317255],
       [ 883.71392576],
       [ 892.66389614],
       [ 926.8159375 ],
       [ 730.82675867],
       [ 840.70831971],
       [ 637.12020956],
       [ 886.78445454],
       [ 827.71079777],
       [ 899.38507349],
       [ 883.94682228],
       [ 970.54229407],
       [ 821.08813616],
       [ 905.41831268],
       [ 929.87337891],
       [ 865.39046448],
       [ 880.86764139],
       [ 896.10926211],
       [ 840.48058543],
       [ 880.22194   ],
       [ 920.89403308],
       [ 868.16758336],
       [ 918.04163356],
       [ 864.5823209 ],
       [ 973.60766061],
       [ 883.29775385],
       [ 899.43612881],
       [ 989.08930235],
       [ 995.26480371],
       [ 811.65055914],
       [ 933.22879752],
       [ 899.3581668 ],
       [ 855.96745822],
       [ 864.55926509],
       [ 894.12717547],
       [ 936.51271843],
       [ 877.5455563 ],
       [ 933.25735453],
       [ 899.44174787],
       [ 944.97529137],
       [ 929.77436709],
       [ 849.36958137],
       [ 973.634722  ],
       [ 849.93762289],
       [ 877.78322703],
       [ 927.25157456],
       [ 905.43994881],
       [ 936.31936144],
       [ 886.81541344],
       [ 960.50462878],
       [ 849.91776705],
       [ 890.16743329],
       [ 890.20937713],
       [ 862.37121312],
       [ 877.39588699],
       [ 886.91212343],
       [ 945.41012308],
       [ 945.38264666],
       [ 889.6150012 ],
       [ 880.44954162],
       [ 858.84016785],
       [ 989.08176523],
       [ 862.18062527],
       [ 877.74335823],
       [ 858.17243721],
       [ 908.7924181 ],
       [ 889.8141981 ],
       [ 979.87091313],
       [ 896.15842129],
       [ 902.24433717],
       [ 857.9675476 ],
       [ 908.24490088],
       [ 861.49150405],
       [ 883.72251645],
       [ 859.02405236],
       [ 892.70554791],
       [ 899.17622252],
       [ 970.58188291],
       [ 976.70414076],
       [ 883.99737171],
       [ 908.488004  ],
       [ 789.63349368],
       [ 908.50977789],
       [ 828.12509826],
       [ 871.69285372],
       [ 871.56025592],
       [ 893.05485616],
       [ 887.12821435],
       [ 933.05777943],
       [ 880.63603177],
       [ 849.5117797 ],
       [ 877.80282725],
       [ 889.92411648],
       [ 859.30790085],
       [ 836.79013956],
       [ 846.62625768],
       [ 955.06457687],
       [ 814.09174765],
       [ 846.68587667],
       [ 893.22400042],
       [ 870.39495019],
       [ 862.08516778],
       [ 989.08706012],
       [ 853.05021605],
       [ 929.79676474],
       [ 911.82748888],
       [ 883.5411419 ],
       [ 905.41178722],
       [ 890.09318951],
       [ 877.6007989 ],
       [ 936.25423653],
       [ 856.16931237],
       [ 936.49474381],
       [ 890.21762644],
       [ 862.29029071],
       [ 958.17873689],
       [ 868.4991405 ],
       [ 899.17827564],
       [ 880.9099266 ],
       [ 921.06744338],
       [ 862.14817343],
       [ 907.64988641],
       [ 911.54057053],
       [ 853.08862605],
       [ 911.80488022],
       [ 837.187885  ],
       [ 899.17449357],
       [ 840.65979639],
       [ 856.15843282],
       [ 868.47303203],
       [ 890.11187632],
       [ 979.62285893],
       [ 936.46110803],
       [ 923.76311293],
       [ 858.83700471],
       [ 892.66905596],
       [ 864.68050688],
       [ 936.29378115],
       [ 853.02352306],
       [ 818.06308046],
       [1029.27124518],
       [ 895.68811948],
       [ 830.55982044],
       [ 958.18606769],
       [ 936.34387604],
       [ 820.69675881],
       [ 861.88734864],
       [ 865.44808438],
       [ 970.59280668],
       [ 874.78877636],
       [ 826.92274577],
       [ 905.62205786],
       [ 816.86631975],
       [ 864.6404932 ],
       [ 862.28823759],
       [ 865.40828924],
       [ 846.68642436],
       [ 862.35675425],
       [ 883.73273045],
       [ 862.28394225],
       [ 892.62277995],
       [ 880.5129646 ],
       [ 877.60401366],
       [ 979.40670416],
       [ 905.46709366],
       [ 911.57789993],
       [ 858.83070046],
       [ 905.46391331],
       [ 939.59345878],
       [ 834.12385199],
       [ 896.34987744],
       [ 855.94936573],
       [ 914.89879867],
       [ 924.10052247],
       [ 970.52490397],
       [ 901.15564271],
       [ 961.05809954],
       [ 926.87132729],
       [ 835.91789254],
       [ 870.56164121],
       [ 955.1037703 ],
       [ 887.07263036],
       [ 798.28771429],
       [ 831.37626978],
       [ 886.89747901],
       [ 856.11682527],
       [ 914.27457413],
       [ 930.00052712],
       [ 862.33833758],
       [ 924.17274486],
       [ 859.02343102],
       [ 862.27457794],
       [ 890.01274663],
       [ 815.16018554],
       [ 924.02407038],
       [ 970.54992943],
       [ 871.21336689],
       [ 874.72012972],
       [ 865.4064056 ],
       [ 892.46606719],
       [ 887.01031499],
       [ 886.86623774],
       [ 970.3243097 ],
       [ 917.78690672],
       [ 886.73241398],
       [ 920.42260646],
       [ 877.62627113],
       [ 973.22736671],
       [ 858.8183351 ],
       [ 899.43635703],
       [ 871.42432501],
       [ 914.94499873],
       [ 852.86608599],
       [ 893.05342438],
       [ 846.14333198],
       [ 883.98506509],
       [ 852.84252671],
       [ 979.7919712 ],
       [ 827.05059926],
       [ 905.16636835],
       [ 967.05279366],
       [ 883.9613218 ],
       [ 865.20344385],
       [ 954.68476184],
       [ 862.08419525],
       [ 862.33736505],
       [ 865.38873554],
       [ 861.89621189],
       [ 880.7185738 ],
       [ 933.42837262],
       [ 911.80012053],
       [ 914.62663278],
       [ 853.05050582],
       [ 893.26145981],
       [ 879.88152443],
       [ 881.72895594],
       [ 964.37054037],
       [ 883.65347622],
       [ 890.17002671],
       [ 812.6219836 ],
       [ 862.31191474],
       [ 920.3912031 ],
       [ 899.06902523],
       [ 951.39493719],
       [ 874.56515571],
       [ 843.58138794],
       [ 849.59231903],
       [ 853.04846009],
       [ 908.15982128],
       [ 849.7241524 ],
       [ 896.08756926],
       [ 905.62135038],
       [ 840.10392132],
       [ 852.8415812 ],
       [ 899.50419832],
       [ 843.54578747],
       [ 880.71562919],
       [ 910.79738976],
       [ 867.70309214],
       [ 868.27905879],
       [ 861.28881244],
       [ 954.51588772],
       [ 846.66178449],
       [ 865.26270655],
       [ 821.08529961],
       [ 853.08438473],
       [ 913.90752458],
       [ 942.66896567],
       [ 964.35001655],
       [ 907.63995238],
       [ 902.34794331],
       [ 834.47415469],
       [ 874.16970653],
       [ 939.67606465],
       [ 868.32767297],
       [ 951.59825014],
       [ 805.23192026],
       [ 893.30744375],
       [ 877.38012286],
       [ 907.72756579],
       [ 892.98448529],
       [ 899.23548522],
       [ 893.28718027],
       [ 948.33665832],
       [ 932.82217163],
       [ 883.5991005 ],
       [ 955.06866591],
       [ 868.49819499],
       [ 917.74266663],
       [ 794.09787762],
       [ 917.80508025],
       [ 917.37097794],
       [ 988.275024  ],
       [ 961.27989299],
       [ 957.95827697],
       [ 973.44103611],
       [ 945.59781908],
       [ 805.0238257 ],
       [ 957.96239302],
       [ 861.74200169],
       [ 896.1441872 ],
       [ 902.16102092],
       [ 858.40687357],
       [ 883.3364512 ],
       [ 889.92784451],
       [ 899.23166633],
       [ 961.07144725],
       [ 874.65840358],
       [ 868.47720211],
       [ 874.65194706],
       [ 877.32864512],
       [ 873.42231705],
       [ 850.79575722],
       [ 967.41568765],
       [ 862.10884493],
       [ 865.40624351],
       [ 874.65834955],
       [ 914.07044564],
       [ 890.1136593 ],
       [ 899.11384546],
       [ 859.04017277],
       [ 890.16910821],
       [ 899.43890623],
       [ 883.57922772],
       [ 868.49889737],
       [ 843.77041747],
       [ 911.73435708],
       [ 880.90038058],
       [ 859.19915949],
       [ 896.28861055],
       [ 927.0440301 ],
       [1019.99339166],
       [ 855.08850912],
       [ 939.21144065],
       [ 905.62984282],
       [ 871.42570276],
       [ 870.13511284],
       [ 911.53098029],
       [ 880.95905406],
       [ 862.29994479],
       [ 955.13942479],
       [ 874.49774436],
       [ 856.16931237],
       [ 856.14781602],
       [ 865.44978631],
       [ 868.49938363],
       [ 886.91639176],
       [ 874.27112267],
       [ 927.2578788 ],
       [ 908.43729987],
       [ 927.25504225],
       [ 831.38875059],
       [ 967.48925606],
       [ 902.32900355],
       [ 927.01368541],
       [ 839.90073363],
       [ 911.32836973],
       [ 970.35803633],
       [ 859.2260686 ],
       [ 865.24136758],
       [ 834.4736242 ],
       [ 874.69816432],
       [ 936.51802784],
       [ 886.20031479],
       [ 973.21868516],
       [ 945.19332977],
       [ 853.97573471],
       [ 979.8505514 ],
       [ 831.03731328],
       [ 849.17069884],
       [ 880.48946444],
       [ 888.90147343],
       [ 883.77586293],
       [ 917.98606449],
       [ 933.46523297],
       [ 865.38170189],
       [ 989.09767692],
       [ 865.38145876],
       [ 899.34622628],
       [ 861.94267228],
       [ 864.62559355],
       [ 911.80525333],
       [ 942.73990855],
       [ 871.6723471 ],
       [ 890.15990829],
       [ 877.58954114],
       [ 957.55797494],
       [ 886.87122336],
       [ 920.9028153 ],
       [ 846.93611777],
       [ 930.34729599],
       [ 899.28584555],
       [ 951.8339586 ],
       [ 849.51551754],
       [ 846.63206585],
       [ 865.36859974],
       [ 865.22808371],
       [ 859.00523047],
       [ 905.55573921],
       [ 852.52183931],
       [ 887.0280833 ],
       [ 782.17304108],
       [ 862.31850634],
       [1007.64265909],
       [ 883.97008439],
       [ 911.65907402],
       [ 895.73728606],
       [ 914.2615111 ],
       [ 874.65489166],
       [ 923.94309521],
       [ 852.85807981],
       [ 856.16289025],
       [ 890.19120359],
       [ 924.11410349],
       [ 910.00102461],
       [ 967.43706613],
       [ 914.69957476],
       [ 865.23990878],
       [ 945.00928815],
       [ 859.2428914 ],
       [ 871.40001913],
       [ 865.38625018],
       [ 923.16354776],
       [ 868.47289695],
       [ 854.64821304],
       [ 861.3560445 ],
       [ 939.63252185],
       [ 893.30244602],
       [ 976.6934331 ],
       [ 887.01988802],
       [ 936.49447366],
       [ 911.65458957],
       [ 837.56089231],
       [ 911.12370604],
       [ 880.85179112],
       [ 921.07284633],
       [ 858.58503337],
       [ 843.78865485],
       [ 933.40471038],
       [ 914.85790841],
       [ 927.28151913],
       [ 886.80757917],
       [ 917.94367351],
       [ 927.23938619],
       [ 926.80407803],
       [ 945.58921858],
       [ 902.26852518],
       [ 967.43433764],
       [ 919.84180647],
       [ 840.72449416],
       [ 859.17584576],
       [ 908.67054758],
       [ 902.14776407],
       [ 880.90089386],
       [ 871.4199216 ],
       [ 893.01261006],
       [ 948.47902855],
       [ 908.77275876],
       [ 893.30139244],
       [ 886.89985631],
       [ 877.75097639],
       [ 859.05408779],
       [ 856.13752098],
       [ 930.39286221],
       [ 829.03346754],
       [ 814.55972148],
       [ 884.03712735],
       [ 877.77153704],
       [ 976.7468215 ],
       [ 899.37347435],
       [ 840.44974696],
       [ 855.93107433],
       [ 892.49748037],
       [ 871.55901324],
       [ 871.45052664],
       [ 849.38736688],
       [ 858.99352328],
       [ 846.49453126],
       [ 877.75802966],
       [ 893.12696068],
       [ 868.31568581],
       [ 827.47881975],
       [ 973.63599169],
       [1041.61978955],
       [ 883.84566648],
       [ 871.24051403],
       [ 840.66953151],
       [ 905.47348635],
       [ 846.84324009],
       [ 865.22392344],
       [ 827.29423286],
       [ 954.4778019 ],
       [ 933.38138684],
       [ 905.14684408],
       [ 830.81430416],
       [ 871.56453406],
       [ 871.35349489],
       [ 880.40608967],
       [ 887.06182446],
       [ 935.31709973],
       [ 853.01770508],
       [ 846.64057549],
       [ 840.04434654],
       [ 834.48434906],
       [ 927.09127393],
       [ 976.72090213],
       [ 856.17290533],
       [ 871.34854138],
       [ 907.62585807],
       [ 874.25938845],
       [ 874.65724195],
       [ 852.81494223],
       [ 892.1671813 ],
       [ 883.33596494],
       [ 904.20017847],
       [ 738.93275195],
       [ 856.11744661],
       [ 855.72751825],
       [ 877.76975406],
       [ 853.05951154],
       [ 902.38648838],
       [ 896.07583263],
       [ 883.72235437],
       [ 886.81160436],
       [ 846.68436384],
       [ 917.7931029 ],
       [ 926.98167791],
       [ 917.75865197],
       [1032.15226554],
       [ 854.94035773],
       [ 804.31542515],
       [ 868.36595502],
       [ 849.72717805],
       [ 895.53251432],
       [ 859.26574829],
       [ 862.34982127],
       [ 874.47689395],
       [ 833.90210517],
       [ 862.34152532],
       [ 871.20483762],
       [ 899.05575857],
       [ 902.33156995],
       [ 924.16117783],
       [ 896.05563541],
       [ 856.11558259],
       [ 883.31335117],
       [ 865.37846993],
       [ 858.59167899],
       [ 864.60233144],
       [ 855.90508372],
       [ 890.11065085],
       [ 889.92703407],
       [ 849.92807687],
       [1013.86341499],
       [ 919.84264392],
       [ 830.15000681],
       [ 877.76970003],
       [ 957.57227556],
       [ 831.38720094],
       [ 917.83797924],
       [ 927.03485758],
       [ 945.8226652 ],
       [ 936.17800056],
       [ 933.47879679],
       [ 961.07024879],
       [ 886.61478477],
       [ 960.86550406],
       [ 883.22710994],
       [ 830.99746169],
       [ 840.7104735 ],
       [ 942.56806281],
       [ 846.54794897],
       [ 815.16539938],
       [ 899.44558868],
       [ 856.11877033],
       [ 889.54836347],
       [ 936.52930281],
       [ 955.08841611],
       [ 908.72417159],
       [ 883.78272468],
       [ 924.18783871],
       [ 699.17195174],
       [ 889.20661935],
       [ 833.69409166],
       [ 801.73694566],
       [ 858.99462107],
       [ 880.63019658],
       [ 914.75045818],
       [ 911.83059558],
       [ 877.56336143],
       [ 936.39778511],
       [ 856.11425887],
       [ 880.74067428],
       [ 837.21954131],
       [ 831.41552463],
       [ 973.61553911],
       [ 936.49184342],
       [ 927.22780426],
       [ 871.57180103],
       [ 951.7655402 ],
       [ 874.49508201],
       [ 917.5156225 ],
       [ 896.33936361],
       [1007.63714808],
       [ 893.0624078 ],
       [ 883.35069039],
       [ 893.11425394],
       [ 873.68720616],
       [ 908.67257368],
       [ 982.91077533],
       [ 871.56049905],
       [ 976.73042852],
       [ 895.98789928],
       [ 976.7576274 ],
       [ 905.42102868],
       [ 862.35888841],

In [53]:
import joblib
joblib.dump(lr, 'model.lb')

['model.lb']

In [54]:
joblib.dump

In [55]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [56]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((3613, 5), (904, 5), (3613, 1), (904, 1))

In [57]:
from sklearn.svm import SVR
svr =SVR()
svr.fit(x_train, y_train)

C:\Users\chand\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [58]:
svr.score(x_train, y_train)

-0.09586602183485948

In [59]:
svr.score(x_test, y_test)

-0.07504915680662716

In [60]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [61]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((3613, 5), (904, 5), (3613, 1), (904, 1))

In [62]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(x_train, y_train)

C:\Users\chand\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\chand\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\multiclass.py:213: UserWarning: The number of unique classes is greater than 50% of the number of samples.
  y_type = type_of_target(y, input_name="y")

SVC()

In [63]:
svc.score(x_test, y_test)

C:\Users\chand\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\metrics\_classification.py:98: UserWarning: The number of unique classes is greater than 50% of the number of samples.
  type_true = type_of_target(y_true, input_name="y_true")

0.08185840707964602

In [64]:
from sklearn.datasets import load_iris
x,y = load_iris(return_X_y=True)
x

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [65]:
x

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [66]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [67]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [68]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [69]:
knn.get_params()

{'algorithm': 'auto',
 'leaf_size': 30,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': None,
 'n_neighbors': 5,
 'p': 2,
 'weights': 'uniform'}

In [70]:
knn.score(x_train,y_train)

0.975

In [71]:
knn.predict(x_test)

array([0, 0, 0, 0, 2, 0, 0, 2, 0, 2, 2, 2, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 2, 1, 2, 2, 1, 1])