In [13]:
import pandas as pd

In [ ]:
df =pd.read_csv( 'Credit(1).csv')

In [16]:
df =pd.read_csv(r'C:\Users\chand\OneDrive\Desktop\Data science\data-science-ai-and-ml\projects\credit\Credit (1).csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4519 non-null   float64
 1   job        4515 non-null   object
 2   marital    4518 non-null   object
 3   education  4517 non-null   object
 4   balance    4521 non-null   int64
 5   housing    4518 non-null   object
 6   duration   4519 non-null   float64
 7   campaign   4521 non-null   int64
 8   approval   4521 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 318.0+ KB

In [18]:
df.head(10)

,age,job,marital,education,balance,housing,duration,campaign,approval
0,30.0,unemployed,married,primary,1787,no,79.0,1,no
1,33.0,services,married,secondary,4789,yes,220.0,1,no
2,35.0,management,single,tertiary,1350,yes,185.0,1,no
3,30.0,management,married,tertiary,1476,yes,199.0,4,no
4,59.0,blue-collar,married,secondary,0,yes,226.0,1,no
5,35.0,management,single,tertiary,747,no,141.0,2,no
6,36.0,self-employed,married,tertiary,307,yes,341.0,1,no
7,39.0,technician,married,secondary,147,yes,151.0,2,no
8,41.0,entrepreneur,married,tertiary,221,yes,57.0,2,no
9,43.0,services,married,primary,-88,yes,313.0,1,no

In [19]:
df.tail(10)

,age,job,marital,education,balance,housing,duration,campaign,approval
4511,46.0,blue-collar,married,secondary,668,yes,1263.0,2,yes
4512,40.0,blue-collar,married,secondary,1100,yes,660.0,2,no
4513,49.0,blue-collar,married,secondary,322,no,356.0,2,no
4514,38.0,blue-collar,married,secondary,1205,yes,45.0,4,no
4515,32.0,services,single,secondary,473,yes,624.0,5,no
4516,99.0,services,married,secondary,-333,yes,329.0,5,no
4517,57.0,self-employed,married,tertiary,-3313,yes,-153.0,1,no
4518,57.0,technician,married,secondary,295,no,151.0,11,no
4519,28.0,blue-collar,married,secondary,1137,no,129.0,4,no
4520,44.0,entrepreneur,single,tertiary,1136,yes,345.0,2,no

In [20]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4516    False
4517    False
4518    False
4519    False
4520    False
Length: 4521, dtype: bool

In [21]:
df.duplicated().sum()

np.int64(1)

In [22]:
df.describe()

               age       balance      duration     campaign
count  4519.000000   4521.000000  4.519000e+03  4521.000000
mean     41.381279   1422.657819  5.983921e+03     2.793630
std      13.966475   3009.638142  3.570683e+05     3.109807
min     -38.000000  -3313.000000 -7.990000e+02     1.000000
25%      33.000000     69.000000  1.040000e+02     1.000000
50%      39.000000    444.000000  1.850000e+02     2.000000
75%      49.000000   1480.000000  3.295000e+02     3.000000
max     416.000000  71188.000000  2.395650e+07    50.000000

In [23]:
df

,age,job,marital,education,balance,housing,duration,campaign,approval
0,30.0,unemployed,married,primary,1787,no,79.0,1,no
1,33.0,services,married,secondary,4789,yes,220.0,1,no
2,35.0,management,single,tertiary,1350,yes,185.0,1,no
3,30.0,management,married,tertiary,1476,yes,199.0,4,no
4,59.0,blue-collar,married,secondary,0,yes,226.0,1,no
...,...,...,...,...,...,...,...,...,...
4516,99.0,services,married,secondary,-333,yes,329.0,5,no
4517,57.0,self-employed,married,tertiary,-3313,yes,-153.0,1,no
4518,57.0,technician,married,secondary,295,no,151.0,11,no
4519,28.0,blue-collar,married,secondary,1137,no,129.0,4,no
4520,44.0,entrepreneur,single,tertiary,1136,yes,345.0,2,no

In [24]:
df['age']

0       30.0
1       33.0
2       35.0
3       30.0
4       59.0
        ...
4516    99.0
4517    57.0
4518    57.0
4519    28.0
4520    44.0
Name: age, Length: 4521, dtype: float64

In [25]:
df['balance']

0       1787
1       4789
2       1350
3       1476
4          0
        ...
4516    -333
4517   -3313
4518     295
4519    1137
4520    1136
Name: balance, Length: 4521, dtype: int64

In [26]:
df.columns

Index(['age', 'job', 'marital', 'education', 'balance', 'housing', 'duration',
       'campaign', 'approval'],
      dtype='object')

In [27]:
df.education

0         primary
1       secondary
2        tertiary
3        tertiary
4       secondary
          ...
4516    secondary
4517     tertiary
4518    secondary
4519    secondary
4520     tertiary
Name: education, Length: 4521, dtype: object

In [28]:
df.housing

0        no
1       yes
2       yes
3       yes
4       yes
       ...
4516    yes
4517    yes
4518     no
4519     no
4520    yes
Name: housing, Length: 4521, dtype: object

In [29]:
df['age'].value_counts()

age
34.0     231
32.0     224
31.0     199
36.0     188
33.0     184
        ...
13.0       1
84.0       1
416.0      1
410.0      1
99.0       1
Name: count, Length: 74, dtype: int64

In [30]:
df['balance'].value_counts()

balance
0       357
2        24
1        15
4        13
23       11
       ...
5304      1
6969      1
572       1
164       1
4554      1
Name: count, Length: 2353, dtype: int64

In [31]:
df['age'].unique()

array([ 30.,  33.,  35.,  59.,  36.,  39.,  41.,  43.,  20.,  31.,  40.,
        56.,  37.,  25.,  38.,  42.,  44.,  26.,  55.,  67.,  53.,  68.,
        32.,  49.,  78.,   0.,  23.,  52.,  34.,  nan,  45.,  48.,  57.,
        54.,  63.,  51.,  29.,  50.,  27.,  60.,  28.,  21.,  58.,  22.,
        46.,  24.,  77.,  75.,  47.,  70.,  65.,  64.,  62.,  66.,  61.,
        19.,  81.,  83.,  80.,  71.,  72.,  69.,  79.,  73., -38.,  86.,
        74., 338.,  76.,  87.,  13.,  84., 416., 410.,  99.])

In [32]:
df['age'].nunique()

74

In [33]:
df.shape

(4521, 9)

In [34]:
df.dtypes

age          float64
job           object
marital       object
education     object
balance        int64
housing       object
duration     float64
campaign       int64
approval      object
dtype: object

In [35]:
marital_df =df[df['balance'] == 'marital']

In [36]:
marital_df =df[df['education'] == 'secondary']

In [37]:
marital_df

,age,job,marital,education,balance,housing,duration,campaign,approval
1,33.0,services,married,secondary,4789,yes,220.0,1,no
4,59.0,blue-collar,married,secondary,0,yes,226.0,1,no
7,39.0,technician,married,secondary,147,yes,151.0,2,no
10,39.0,services,married,secondary,9374,yes,273.0,1,no
11,43.0,admin.,married,secondary,264,yes,113.0,2,no
...,...,...,...,...,...,...,...,...,...
4514,38.0,blue-collar,married,secondary,1205,yes,45.0,4,no
4515,32.0,services,single,secondary,473,yes,624.0,5,no
4516,99.0,services,married,secondary,-333,yes,329.0,5,no
4518,57.0,technician,married,secondary,295,no,151.0,11,no
4519,28.0,blue-collar,married,secondary,1137,no,129.0,4,no

In [38]:
marital_df[marital_df['age'] <= 18]

,age,job,marital,education,balance,housing,duration,campaign,approval
38,0.0,management,married,secondary,3935,yes,765.0,1,yes
3809,13.0,blue-collar,married,secondary,161,yes,274.0,2,no

In [39]:
marital_df =df[(df['marital']== 'married')&
                 (df['age'] <= 18)&
                 (df['education'] == 'secondary' )]

In [41]:
marital_df

,age,job,marital,education,balance,housing,duration,campaign,approval
38,0.0,management,married,secondary,3935,yes,765.0,1,yes
3809,13.0,blue-collar,married,secondary,161,yes,274.0,2,no

In [42]:
df.rename(columns= {'age': 'a'},inplace= True)

In [43]:
df

,a,job,marital,education,balance,housing,duration,campaign,approval
0,30.0,unemployed,married,primary,1787,no,79.0,1,no
1,33.0,services,married,secondary,4789,yes,220.0,1,no
2,35.0,management,single,tertiary,1350,yes,185.0,1,no
3,30.0,management,married,tertiary,1476,yes,199.0,4,no
4,59.0,blue-collar,married,secondary,0,yes,226.0,1,no
...,...,...,...,...,...,...,...,...,...
4516,99.0,services,married,secondary,-333,yes,329.0,5,no
4517,57.0,self-employed,married,tertiary,-3313,yes,-153.0,1,no
4518,57.0,technician,married,secondary,295,no,151.0,11,no
4519,28.0,blue-collar,married,secondary,1137,no,129.0,4,no
4520,44.0,entrepreneur,single,tertiary,1136,yes,345.0,2,no

In [46]:
df.select_dtypes(include='object')

                job  marital  education housing approval
0        unemployed  married    primary      no       no
1          services  married  secondary     yes       no
2        management   single   tertiary     yes       no
3        management  married   tertiary     yes       no
4       blue-collar  married  secondary     yes       no
...             ...      ...        ...     ...      ...
4516       services  married  secondary     yes       no
4517  self-employed  married   tertiary     yes       no
4518     technician  married  secondary      no       no
4519    blue-collar  married  secondary      no       no
4520   entrepreneur   single   tertiary     yes       no

[4521 rows x 5 columns]

In [44]:
num=df.select_dtypes(exclude='object')

In [45]:
num

         a  balance  duration  campaign
0     30.0     1787      79.0         1
1     33.0     4789     220.0         1
2     35.0     1350     185.0         1
3     30.0     1476     199.0         4
4     59.0        0     226.0         1
...    ...      ...       ...       ...
4516  99.0     -333     329.0         5
4517  57.0    -3313    -153.0         1
4518  57.0      295     151.0        11
4519  28.0     1137     129.0         4
4520  44.0     1136     345.0         2

[4521 rows x 4 columns]

In [47]:
print(num.columns)

Index(['a', 'balance', 'duration', 'campaign'], dtype='object')

In [48]:
num.head()

      a  balance  duration  campaign
0  30.0     1787      79.0         1
1  33.0     4789     220.0         1
2  35.0     1350     185.0         1
3  30.0     1476     199.0         4
4  59.0        0     226.0         1

In [51]:
num['a'].unique()

array([ 30.,  33.,  35.,  59.,  36.,  39.,  41.,  43.,  20.,  31.,  40.,
        56.,  37.,  25.,  38.,  42.,  44.,  26.,  55.,  67.,  53.,  68.,
        32.,  49.,  78.,   0.,  23.,  52.,  34.,  nan,  45.,  48.,  57.,
        54.,  63.,  51.,  29.,  50.,  27.,  60.,  28.,  21.,  58.,  22.,
        46.,  24.,  77.,  75.,  47.,  70.,  65.,  64.,  62.,  66.,  61.,
        19.,  81.,  83.,  80.,  71.,  72.,  69.,  79.,  73., -38.,  86.,
        74., 338.,  76.,  87.,  13.,  84., 416., 410.,  99.])

In [ ]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()

df['job'] =le.fit_transform(df['job'])
df['balance'] =le.fit_transform(df['balance'])
df['housing'] =le.fit_transform(df['housing'])

In [52]:
num

         a  balance  duration  campaign
0     30.0     1787      79.0         1
1     33.0     4789     220.0         1
2     35.0     1350     185.0         1
3     30.0     1476     199.0         4
4     59.0        0     226.0         1
...    ...      ...       ...       ...
4516  99.0     -333     329.0         5
4517  57.0    -3313    -153.0         1
4518  57.0      295     151.0        11
4519  28.0     1137     129.0         4
4520  44.0     1136     345.0         2

[4521 rows x 4 columns]

In [ ]:
df

,age,job,marital,education,balance,housing,duration,campaign,approval
0,30.0,10,married,primary,1475,0,79.0,1,no
1,33.0,7,married,secondary,2030,1,220.0,1,no
2,35.0,4,single,tertiary,1303,1,185.0,1,no
3,30.0,4,married,tertiary,1352,1,199.0,4,no
4,59.0,1,married,secondary,274,1,226.0,1,no
...,...,...,...,...,...,...,...,...,...
4516,99.0,7,married,secondary,119,1,329.0,5,no
4517,57.0,6,married,tertiary,0,1,-153.0,1,no
4518,57.0,9,married,secondary,558,0,151.0,11,no
4519,28.0,1,married,secondary,1187,0,129.0,4,no
4520,44.0,2,single,tertiary,1186,1,345.0,2,no

In [ ]:
char=df.select_dtypes(exclude='object')

In [ ]:
char

       age  job  balance  duration  campaign
0     30.0   10     1787      79.0         1
1     33.0    7     4789     220.0         1
2     35.0    4     1350     185.0         1
3     30.0    4     1476     199.0         4
4     59.0    1        0     226.0         1
...    ...  ...      ...       ...       ...
4516  99.0    7     -333     329.0         5
4517  57.0    6    -3313    -153.0         1
4518  57.0    9      295     151.0        11
4519  28.0    1     1137     129.0         4
4520  44.0    2     1136     345.0         2

[4521 rows x 5 columns]

In [ ]:
clean_data =pd.concat([char],axis =1)

In [ ]:
clean_data

       age  job  balance  duration  campaign
0     30.0   10     1787      79.0         1
1     33.0    7     4789     220.0         1
2     35.0    4     1350     185.0         1
3     30.0    4     1476     199.0         4
4     59.0    1        0     226.0         1
...    ...  ...      ...       ...       ...
4516  99.0    7     -333     329.0         5
4517  57.0    6    -3313    -153.0         1
4518  57.0    9      295     151.0        11
4519  28.0    1     1137     129.0         4
4520  44.0    2     1136     345.0         2

[4521 rows x 5 columns]