In [ ]:
try:
    pass ##main code
except:
    pass ## error
else :
    pass ## multiple
finally:
    pass # all

In [1]:
try:
    a = int(input("enter a number"))
    b = int(input("enter  second number"))
    print(a*b)
except ValueError as e:
    print("Invalid input",e)

24

In [2]:
python error handlig task

SyntaxError: invalid syntax (3272909587.py, line 1)

In [1]:
try:
    a = int(input("enter a number"))
    b = int(input("enter  second number"))
    print(a/b)
except ZeroDivisionError as e:
    print(e)

0.5

In [2]:
try:
    a = int(input("enter a number"))
    b = int(input("enter second number"))
except ZeroDivisionError as e:
    print(e)
else :
    print("no error")
    print(a*b)
finally:
    print("koi chale na chale me to chalunga")

no error
30
koi chale na chale me to chalunga

In [4]:
try:
    num1 = int(input("enter a number"))
    num2 = int(input("enter a second number"))
    result = num1/num2
except ZeroDivisionError as e:
    print(e)
except ValueError as e:
    print(e)
except Exception as e:
    print(e)
else :
    print("final_result:-",result)
finally:
    print("Thanks for using our service")

final_result:- 0.625
Thanks for using our service

In [ ]:
## Syntax error

if True
    print("Hello")# missing colon

SyntaxError: expected ':' (1494996697.py, line 3)

In [5]:
if True:
    print("Hello")

Hello

In [ ]:
IndentationError

def greet():
print("Hello")## not properly idented

IndentationError: expected an indented block after function definition on line 3 (974528679.py, line 4)

In [12]:
def greet():
    print("Hello")

In [11]:
## NameError

print(x)###

NameError: name 'x' is not defined

In [ ]:
print("hello")

hello

In [ ]:
### TypeError

print("Age:" + 25)## cannot add str and int

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("Age: "+ str(23))

Age: 23

In [ ]:
##ValuError
int("abc")##cannot convert letter to int

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
int("123")

123

In [ ]:
##ZeroDivisionError

print(10/0)##division ny zero

ZeroDivisionError: division by zero

In [ ]:
print(10/2)

5.0

In [ ]:
###IndexError
lst =[1, 2, 3]
print(lst[5])## index out of range

IndexError: list index out of range

In [ ]:
lst = [1, 2, 3]
print(lst[1])

2

In [ ]:
##KeyError

data = {"name":"chandni"}
print(data["age"])## key 'age' not found

KeyError: 'age'

In [ ]:
data = {"name":"chandni"}
print(data["name"])

chandni