In [ ]:
#####oops concept in python


# global
# local variable


# ploymorphism
# inheritence
# encapsulation
# abstraction


<!-- class Class_name:
    pass
 class is keyword
 class Student:
     name = "chandni"
 age = 19
   print(f"my name is{name} and my age ") -->

#### Encapsulation

In [ ]:
class Student:
    __name = "chandni"
    age = 20
    _id = "123"
st_obj=Student()

In [2]:
st_obj.age

20

In [5]:
st_obj._Student__name

'chandni'

In [6]:
st_obj.id

AttributeError: 'Student' object has no attribute 'id'

class Bank:
  __account_number = "0123456"

In [ ]:
class Bank:
    def__init__(self,account_holder,balance = 0)
    self.account_holder = account_holder
    self.balance = balance
def deposit(self,ammount):
    if ammount >0:
        self.balance += ammount
        print(f"")

task 1 >>>>>>>>>>>super function
task 2 >>>>>>>>>>>Bmi calculator
class se work karn h

In [5]:
class BMICalculator:
    def __init__(self, weight, height):
        self.weight = weight
        self.height = height
    def calculate_bmi(self):
        bmi = self.weight / (self.height ** 2)
        return  bmi
    def get_category(self):
        bmi = self.calculate_bmi()
        if bmi < 18.5:
            return "Underweight"
        elif 18.5 <= bmi < 24.9:
            return "Normal weight"
        elif 25 <= bmi < 29.9:
            return "Overweight"
        else:
            return "Obese"
weight = float(input("Enter weight (in kg):"))
height = float(input("Enter height (in meter):"))
person = BMICalculator(weight,height)
bmi = person.calculate_bmi()
category = person.get_category()
print(f"\nYour BMI is:{bmi:.2f}")
print(f"Category: {category}")

Your BMI is:0.36
Category: Underweight

In [6]:
class ATM:
    def _init_(self, balance=0):
        self.balance = balance

    def check_balance(self):
        print(f"Current Balance: ₹{self.balance}")

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"₹{amount} deposited successfully.")
        else:
            print("Invalid deposit amount.")

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(f"₹{amount} withdrawn successfully.")
        else:
            print("Insufficient balance.")
atm = ATM(1000)  

while True:
    print("\n==== ATM Menu ====")
    print("1. Check Balance")
    print("2. Deposit Money")
    print("3. Withdraw Money")
    print("4. Exit")

    choice = input("Enter your choice (1-4): ")

    if choice == '1':
        atm.check_balance()
    elif choice == '2':
        amt = float(input("Enter amount to deposit: ₹"))
        atm.deposit(amt)
    elif choice == '3':
        amt = float(input("Enter amount to withdraw: ₹"))
        atm.withdraw(amt)
    elif choice == '4':
        print("Thank you for using the ATM!")
        break
    else:
        print("Invalid choice. Please try again.")

TypeError: ATM() takes no arguments

In [ ]:
class Bank:
    def __init__(self,name,age,account_number,phone_number,address):
        self.name = name
        self.age = age
        self.__account_number = account_number
        self.phone_number = phone_number
        self.address = address
    def deposit(self,ammount):
        print(f"deposit ammount:{self.ammount}")
    def withdraw(self,ammount):
        print(f"withdraw ammount:{self.ammount}")
    def total_balance(self):
        print(f"total balance:{self.total_balance}")
    def info(self):
        print(f"name{self.name} and age {self.age}, and account_number{self.__account_number}, and phone_number {self.phone_number}, and address{self.address}")
bn_obj = Bank(name = " chandni",age = 19,account_number=" 12345678",phone_number= 123466790,address=" Beawar")

In [ ]:
class StudentAccount:
    def __init__(student, name, account_number,phone_number,roll_number,year):
        student.name = name
        student.__account_number = account_number
        student.phone_number = phone_number
        student.roll_number = roll_number
        student.year = year
    def student

In [ ]:
class Student:
    def __init__(self , name,age):
        self.name = name
        self.age = age  ### intance variable
obj_st = Student(name = "chandni",age = 19)
print(obj_st.name)
print(obj_st.age)

chandni
19

In [ ]:
class Student:
    def __init__(self,name,age,address):
        self.name = name
        self.age = age
        self.address = address
    def display(self):
        print(f"my name is {self .name}and my age is {self.age}and my address is {self.address}")
obj_st = Student(name = "chandni",age = 19,address="beawar")

In [ ]:
obj_st.display()

my name is chandniand my age is 19and my address is beawar

class Bank:
constructore
init method
__init__
account number private
name
address
phone number
method
deposite
withdraw
totla balance

In [ ]:
class Bank:
    def __init__(self,name,age,account_number,phone_number,address):
        self.name = name
        self.age = age
        self.__account_number = account_number
        self.phone_number = phone_number
        self.address = address

    # def deposit(self,ammount):
    #     self.ammount = ammount
    # def withdraw(self,ammount):
    #     self.ammount = ammount
    # def total_balance(self):
    #     return self.ammount 
    def info(self): 
        print(f"name{self.name} and age {self.age}, and account_number{self.__account_number}, and phone_number {self.phone_number}, and address{self.address}")
bn_obj = Bank(name = " chandni",age = 19,account_number=" 12345678",phone_number= 123466790,address=" Beawar")

In [ ]:
bn_obj.info()

name chandni and age 19, and account_number 12345678, and phone_number 123466790, and address Beawar

## constructor

In [ ]:
bn_obj._Bank__account_number

' 12345678'

<!-- class
method
inheritance -->